# Archivos de compilación
bin/
obj/

# Configuración de usuario de Visual Studio Code
.vscode/

# Archivos de publicación
publish/

# Archivos temporales
*.user
*.suo
*.cache
*.log
*.tmp
*.bak

# Archivos de lock y dependencias temporales
project.lock.json
project.fragment.lock.json
artifacts/

# Archivos de entorno local
.env
*.env

# Archivos de migración local
Migrations/

# Paquetes NuGet descargados localmente
packages/
*.nupkg
